<%- include('./partials/header') %>
<div id="notHome" class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="content">
                <span><em id="date"><%= blog.created.toDateString() %></em></span>
            </div>
            <div class="description">
                <p><%- blog.body %></p>
            </div>
            <a class="ui floated orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui floated red basic button">Delete</button>
            </form>
        </div>
    </div>  
</div>
<%- include('./partials/footer') %>